go 1.25.0

use (
	./apps/backend
	./apps/matching-engine
	./apps/wallet-service
	./packages/common
	./packages/custody
	./packages/database
	./packages/logger
	./packages/security
	./packages/types
	./tests
)
