go 1.25.0

use (
	./apps/backend
	./apps/matching-engine
	./apps/wallet-service
	./packages/address
	./packages/assets
	./packages/blockchain
	./packages/common
	./packages/database
	./packages/deposits
	./packages/ledger-common
	./packages/logger
	./packages/security
	./packages/types
	./packages/wallet
	./tests
)
